# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
*.egg
.venv/
.mypy_cache/
.ruff_cache/

# Project runtime
.cache/
temp/
output/*
uploads/
.local/
samples/*.wav
*.mp4
*.wav
*.mp3
*.srt
!samples/*.mp4
!samples/*.srt
!samples/*.png
!output/*.mp4
!output/*.srt
*.webm
*.mkv

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
